torch>=2.1.2
torchvision
torchaudio
transformers>=4.38.0
accelerate>=0.26.0
sentence-transformers>=2.3.0
langchain==0.1.4
langchain-community==0.0.16
langchain-core==0.1.17
langchain-openai==0.0.5
chromadb==0.4.22
chardet==5.2.0
urllib3==2.1.0
requests==2.31.0
nltk==3.8.1
fire==0.5.0
scipy
flagembedding>=1.2.0
rouge-score
scikit-learn
matplotlib
numpy
